<ul> 
<li><a href="/">Home</a></li>
<li><a href="/london">London</a></li>
<li><a href="/newyork">New York</a></li>
<li><a href="/paris">parisis</a></li>
<li><a href="/newdelhi">New Delhi</a></li>
</ul>